{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<div class='row'>
				<div class='col'>
					<p>Device Name:</p>
					<p>{{ device['name'] }}</p>
				</div>
			</div>
			<div class='row'>
				<div class='col'>
					<a href="{{ url_for('new_policy', device_name=device['name']) }}" 
						class="btn btn-primary" role='button'>Add Policy</a>
				</div>
			</div>
			<div class='row'>
				<div class='col'>
					<table class='table'>
						<thead>
							<tr>
								<th scope='col'>Email</th>
								<th scope='col'>Subscribe rights</th>
								<th scope='col'>Publish rights</th>
								<th scope='col'>Ownership rights</th>
								<th scope='col'>Access duration</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for key, policy in policies.items() %}
		<tr>
			<td>{{ policy['user'] }}</td>
			<td>{{ policy['read'] }}</td>
			<td>{{ policy['write'] }}</td>
			<td>{{ policy['own'] }}</td>
			<td>{{ policy['access_time'] }}s</td>
			<td><a href="{{ url_for('delete_policy', device_name=device['name'], user=policy['user']) }}" 
				class="btn btn-primary" role='button'>Delete</a></td>
		</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}